$accentgrey    : rgb(245, 245, 245);
$dark          : #000;
$lightGrey     : #ededed;
$darkGrey      : #4d4b4d;
$pageBackground: #fff;
$primaryColor  : #DB4444;
$borderGrey    : rgba(0, 0, 0, 0.3);
$lightGrey2 : #f5f5f5;